<?xml version="1.0" ?>
<settings>
<nickname>BY2HIT</nickname>
<lon>45</lon>
<lat>125</lat>
<alt>12</alt>
<server_url>ws://202.118.254.127</server_url>
<backup_server_url>huhuhuh</backup_server_url>
<back_server_enable>0</back_server_enable>
<server_port>9010</server_port>
<tle_url>http://lilacsat.hit.edu.cn/tle/TLE.txt</tle_url>
<port_1>60061</port_1>
<port_1_sat>DSLWP-A</port_1_sat>
<channel_1>0</channel_1>
<port_1_enable>2</port_1_enable>
<port_2>60062</port_2>
<port_2_sat>DSLWP-A</port_2_sat>
<channel_2>1</channel_2>
<port_2_enable>0</port_2_enable>
<port_3>60063</port_3>
<port_3_sat>DSLWP-B</port_3_sat>
<channel_3>0</channel_3>
<port_3_enable>0</port_3_enable>
<port_4>60064</port_4>
<port_4_sat>DSLWP-B</port_4_sat>
<channel_4>1</channel_4>
<port_4_enable>0</port_4_enable>
<port_5>13</port_5>
<port_5_sat>ff</port_5_sat>
<channel_5>5</channel_5>
<port_5_enable>0</port_5_enable>
</settings>
